In [1]:
# pandas library is imported and getting called as pd
import pandas as pd

In [2]:
# Rading csv file and assigned to a variable dataset which is a table structure
dataset=pd.read_csv("Salary_Data.csv")
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
# separating input by taking YearsExperience column
independent=dataset[["YearsExperience"]]
print(independent)
# separating input by taking Salary column
dependent=dataset[["Salary"]]

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [4]:
# import function train_test_split from sklearn library and model_selection module
from sklearn.model_selection import train_test_split
# Split training and test set with X and Y by passing testsize as 30 percent and 70 percent used for training
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
print(X_train)

    YearsExperience
22              7.9
5               2.9
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

In [6]:
# import LinearRegression class from sklearn library and module linear_model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
# Here training happens with simple linear regression algo which replaces that formula with values inside this function
regressor.fit(X_train,y_train)
weight=regressor.coef_
print(weight)
bias=regressor.intercept_
print(bias)

[[9360.26128619]]
[26777.3913412]

In [7]:
# Test phase happens here by predicting for the test dataset
y_predict = regressor.predict(X_test)

In [8]:
# evaluation metrics using r2_score algo by importing r2_score function and calculate the score
from sklearn.metrics import r2_score
r_score=r2_score(y_predict,y_test)
print(r_score)

0.9710122289422968

In [10]:
# importing pickle class to save and load the model
import pickle
file_name="finalized_model_linear.sav"
# Here writing the model and save it with this file_name
pickle.dump(regressor,open(file_name,'wb'))

In [11]:
# loading the model by reading the file
loaded_predict = pickle.load(open(file_name,'rb'))
# predicting the output for any input
result=loaded_predict.predict([[13]])
result

/Users/priyanghaa/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[148460.78806172]])